.collection-item {
	width: 22vw;
	display: flex;
	flex-direction: column;
	height: 380px;
	align-items: center;
	position: relative;
	margin: 0.5rem;

	@media screen and (max-width: 800px) {
		width: 80vw;
		margin: 1rem 0;
	}

	.image {
		width: 100%;
		height: 95%;
		background-size: cover;
		background-position: center;
		margin-bottom: 5px;

		@media screen and (max-width: 800px) {
			width: 90%;
			height: 90%;
		}
	}

	.custom-button {
		width: 80%;
		opacity: 0.7;
		position: absolute;
		top: 240px;
		display: block;

		@media screen and (max-width: 800px) {
			top: 200px;
		}
	}

	&:hover {
		.image {
			opacity: 0.8;
		}

		.custom-button {
			opacity: 0.85;
			display: flex;
		}
	}

	.collection-footer {
		width: 100%;
		height: 6%;
		display: flex;
		justify-content: space-between;
		font-size: 18px;

		@media screen and (max-width: 800px) {
			width: 90%;
		}

		.name,
		.price {
			padding: 2px;
			margin: 2px 5px;
			margin-bottom: 15px;
		}
	}
}
